@import url(reset.css);
@import url(variables.css);

body {
  font-family: var(--main-font);
}

.header {
  background-image: url(/public/images/bg-desktop-light.jpg);
  background-size: cover;
  height: 340px;
}
