@import url(reset.css);
@import url(variables.css);

body {
  background-color: var(--body-bg);
  font-family: var(--main-font);
  position: relative;
}

.btn {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  max-width: 100%;
  min-width: 170px;
  padding: 0.5rem 0.75rem;
}

.btn-add {
  background-color: var(--button-add-bg);
  color: var(--button-add-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:focus,
.btn-add:hover {
  background-color: var(--button-add-bg-hover);
}

.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  background-image: url(/public/images/bg-desktop-light.jpg);
  background-size: cover;
  height: 340px;
}

.min-gap {
  gap: 10px;
}

.todo {
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  width: max(500px, 50vw);
}

.todo__header {
  display: grid;
  gap: 30px;
}

.todo__h1 {
  color: var(--title-color);
  font-size: 2.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.todo__input {
  background-color: var(--input-bg);
  border-radius: 5px;
  border: none;
  color: var(--main-color);
  font-size: 18px;
  height: 50px;
  outline: none;
  padding: 1.2rem;
  width: 100%;
}

.todo__input:focus {
  box-shadow: var(--input-shadow);
}

.todo__input::placeholder {
  color: var(--input-placeholder);
  font-weight: 600;
}
