@import url(reset.css);
@import url(variables.css);

body {
  background-color: var(--very-light-gray);
  font-family: var(--main-font);
  position: relative;
}

.btn {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  max-width: 100%;
  min-width: 170px;
  padding: 0.75rem;
}

.btn-add {
  background-color: var(--purple);
  color: var(--very-light-gray);
  cursor: pointer;
}

.btn-add:focus {
  opacity: 0.8;
}

.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  background-image: url(/public/images/bg-desktop-light.jpg);
  background-size: cover;
  height: 340px;
}

.min-gap {
  gap: 10px;
}

.todo {
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  width: max(500px, 50vw);
}

.todo__header {
  display: grid;
  gap: 30px;
}

.todo__h1 {
  color: var(--very-light-gray);
  font-size: 2.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.todo__input {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  height: 50px;
  outline: none;
  padding: 1.2rem;
  width: 100%;
}

.todo__input:focus {
  box-shadow: inset 0 0 0 1.5px var(--purple);
}

.todo__input::placeholder {
  color: var(--dark-grayish-blue);
  font-weight: 600;
}
