@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --body-bg: hsl(0, 0%, 98%);
  --button-add-bg: hsl(235, 24%, 19%);
  --button-add-bg-hover: hsl(235, 19%, 35%);
  --button-add-color: hsl(0, 0%, 98%);
  --check-bg-completed: linear-gradient(
    45deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --check-border-color: hsl(233, 11%, 84%);
  --input-bg: hsl(0, 0%, 98%);
  --input-shadow: inset 0 0 0 1.5px hsl(262, 72%, 46%);
  --input-placeholder: hsl(236, 9%, 61%);
  --list-item-bg: hsl(0, 0%, 98%);
  --main-color: hsl(235, 24%, 19%);
  --main-font: "Josefin Sans", sans-serif;
  --title-color: hsl(0, 0%, 98%);
  --task-color: hsl(235, 24%, 19%);
  --task-border-color: hsl(233, 11%, 84%);
  --task-item-color-completed: hsl(233, 11%, 84%);
  --tasks-info-bg: hsl(0, 0%, 98%);
  --task-list-shadow: 0px 2px 156px 7px hsl(236, 9%, 61%);
  --tasks-filter-option-active: hsl(220, 98%, 61%);
  --tasks-filter-options-and-info-color: hsl(236, 9%, 61%);
}
